{% if primary %}
<div class="alert alert-primary" role="alert">
  {{ primary }}
</div>
{% endif %}

{% if secondary %}
<div class="alert alert-secondary" role="alert">
  {{ secondary }}
</div>
{% endif %}

{% if success %}
<div class="alert alert-success" role="alert">
  {{ success }}
</div>
{% endif %}

{% if danger %}
<div class="alert alert-danger" role="alert">
  {{ danger }}
</div>
{% endif %}

{% if warning %}
<div class="alert alert-warning" role="alert">
  {{ warning }}
</div>
{% endif %}

{% if info %}
<div class="alert alert-info" role="alert">
  {{ info }}
</div>
{% endif %}

{% if light %}
<div class="alert alert-light" role="alert">
  {{ light }}
</div>
{% endif %}

{% if dark %}
<div class="alert alert-dark" role="alert">
  {{ dark }}
</div>
{% endif %}