{% extends 'modal/modalTemplate.html' %}
{% block modal-title %}Informacje o przedmiocie{% endblock modal-title %}
{% block modal-body %}
<table class=table table-sm>
    <tr>
        <th>Nazwa przedmiotu:</th>
        <td>{{ subject.name }}</td>
    </tr>
    <tr>
        <th>Prowadzący:</th>
        <td><a class="btn-modal" href="{% url 'lecture_info' subject.lecturer.id %}">{{ subject.lecturer.first_name }} {{ subject.lecturer.last_name }}</a></td>
    </tr>
    <tr>
        <th>Uczestnicy:</th>
        <td>
            <ul>
                {% for student in subject.students.all %}
                <li>{{ student.first_name }} {{ student.last_name }} ({{ student.album_no }})</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% endblock modal-body %}
{% block modal-footer %}Test{% endblock modal-footer %}