{% extends 'template.html' %}
{% block pageTitle %}Wykładowcy{% endblock pageTitle %}

{% block pageHeader %}Zarejestrowani wykładowcy{% endblock pageHeader %}

{% block pageContent %}
<table class="table table-sm">
    <tr>
        <th scope="col">Wykładowca</th>
        <th scope="col">Opcje</th>
    </tr>
    {% for lecture in lectures %}
    <tr scope="row">
        <td>{{ lecture.first_name }} {{ lecture.last_name }}</td>
        <td>
            <a href="{% url 'lecture_info' lecture.id %}" class="btn btn-info btn-modal">Informacje</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock pageContent %}