{% extends 'template.html' %}
{% block pageTitle %}Przedmioty{% endblock pageTitle %}

{% block pageHeader %}Dodane przedmioty{% endblock pageHeader %}

{% block pageContent %}
<table class="table table-sm">
    <tr>
        <th scope="col">Przedmiot</th>
        <th scope="col">Ilość studentów</th>
        <th scope="col">Opcje</th>
    </tr>
    {% for subject in subjects %}
    <tr scope="row">
        <td>{{ subject.name }}</td>
        <td>{{ subject.students.count }}</td>
        <td>
            <a href="{% url 'subject_info' subject.id %}" class="btn btn-info btn-modal">Informacje</a>
            <a href="{% url 'register_student' subject.id %}" class="btn btn-success btn-modal">Zapisz się</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock pageContent %}